<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$ave $mart</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <a href="/"><img src="/assets/money-send-svgrepo-com.svg" class="logo" alt="logo"></a>

    <div class="title-container">
      <h1>$ave-$mart</h1>
    </div>
    <nav>
      <ul>
        <li><a class="header_tabs" href="/">Home</a></li>
        <li><a class="header_tabs" href="/about">About</a></li>
        <li><a class="header_tabs" href="/goals_forms">Goal</a></li>
        <li><a class="header_tabs" href="/auth/login">Log-In</a></li>
        <li><a class="header_tabs" href="/auth/register">Register</a></li>
      </ul>
    </nav>

  </header>


  {{{body}}}
</body>

</html>