<form id="form" action="/goals" method="POST">

  <div class="container">

    {{#each errors}}
    <p class="error">{{this}}</p>
    {{/each}}

    <input id="goal" class="form-email" type="text" name="goalName" placeholder="Please enter your Goal Name" required>
    <input class="form-pass" type="text" name="goalAmount" placeholder="Please enter your Goal Amount" required>
    <input class="form-pass" type="text" name="currentAmount" placeholder="How much do you have saved up right now?" required>
    <button type="submit" id="submit-button" class="form-btn">Create Goal</button>
  </div>
  </form>