

       {{#if user}}
            <div class="hero_text_container">

                <div class="text-wrapper">
                    <p class="hero_text">Welcome to Save-Smart, your money-saving companion!</p>
                </div>

                <div class="text-wrapper">
                    <p class="hero_text">Take control of your financial goals with our simple and intuitive app.</p>
                </div>

                <div class="text-wrapper">
                    <p class="hero_text">Define your financial objectives, whether its saving for a dream vacation, a new car, or a rainy day fund!</p>
                </div>

            </div>


        
    