<body>
    <header>
        <nav>
            <div>
                <a href="">
                    <img src="assets\money-send-svgrepo-com.svg" alt="Logo">
                </a>
            </div>
            <ul>
                <li><a class="header_tabs" href="">Home</a></li>
                <li><a class="header_tabs" href="">About</a></li>
                <li><a class="header_tabs" href="">Log-In</a></li>
                <li><a class="header_tabs" href="">Register</a></li>
            </ul>
        </nav>
    </header>

    <main class="hero">
        <div class="hero_body">
            <div></div>
            <div>
                <p class="welcome_text">Welcome to Save-Smart, your money-saving companion!</p>
                <p class="welcome_text">Take control of your financial goals with our simple and intuitive app.</p>
                <p class="welcome_text">Define your financial objectives, whether its saving for a dream vacation, a new car, or a rainy day fund!</p>
            </div>
        </div>
    </main>

</body>