<form action="/auth/login" method="POST">

  <div class="container">

    {{#each errors}}
    <p class="error">{{this}}</p>
    {{/each}}

    <input class="form-email" type="text" name="username" placeholder="Please enter your Username" required>
    <input class="form-pass" type="password" name="password" placeholder="Please enter your password" required>
    <button class="form-btn">Login</button>
    <p>Dont have an account yet? <a href="/auth/register" style="color: white; text-decoration: none;">Register</a></p>
  </div>

</form>