<form action="/auth/login" method="POST">

 <div class="container">

    <input class="form-email" type="text" name="email" placeholder="Please enter your email address" required>
    <input class="form-pass" type="password" name="password" placeholder="Please enter your password" required>
    <button class="form-btn">Login</button>
    <p>Dont have an account yet? <a href="/auth/register" style="color: white; text-decoration: none;" >Register</a></p>
  </div>

</form>
