<form action="/auth/register" method="POST">

 <div class="container">

  {{#each errors}}
    <p class="text-center error">{{this}}</p>
    {{/each}}

    <input class="form-email" type="text" name="username" placeholder="Please enter your username" required>
    <input class="form-pass" type="password" name="password" placeholder="Please enter your password" required>
    <button class="form-btn">Register</button>
    <p>Already have an account? <a href="/auth/login" style="color: white; text-decoration: none;" >Login</a></p>
  </div>

</form>
